.badge {
  padding: 1.4em 1em;
  margin: 10px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
body{
  font-size: 60px;
}
.justify-content-center{
  min-width: 1200px;
  margin:auto;
}
p{
  margin: 0;
  padding: 50px 0px;
}
html,body{
  height: 100%;
}

.badge-primary{
  cursor: pointer;
}
.badge-primary:hover{
  background-color:#0069d9;
}
.btn{
  margin:0px 10px;
  cursor:pointer;
}
